<!DOCTYPE html>
<html style="background-color:#161616" lang="{{ .Site.Language }}">
<head>
	<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='/style.css'>
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
</head>
<body>
{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
<main>
<br>
<header><h1 style="text-align:center"id="tag_{{ .Title }}">{{ block "title" . }}{{ end }}</h1></header>
<br>
<article>
{{ block "main" . }}
{{ .Content }}
{{ end }}
{{ if .Param "nextprev" }}{{ partial "nextprev.html" . -}}{{ end -}}
{{ if .Param "taglist" }}{{ partial "taglist.html" . }}{{ end -}}
</article>
</main>
{{ block "footer" . }}
<footer>
<!-- Created Date -->
{{- $pubdate := .PublishDate.Format "2006-01-02" }}
<div class="center">
<br>
Post created:
<time datetime="{{ .PublishDate }}" title="{{ .PublishDate }}">
    {{$pubdate}}
</time>
</div>

<!-- Last Updated Date -->
{{- if .Lastmod }}
 {{- $lastmod := .Lastmod.Format "2006-01-02" }}
 {{- if ne $lastmod $pubdate }}
  <div class="center">
   (Post updated:
   <time datetime="{{ .Lastmod }}" title="{{ .Lastmod }}">
    {{ $lastmod }}
   </time>)
  </div>
 {{- end }}
{{- end }}
	{{- if .Param "showrss" }}
 <div class="center">
 <br>
 <a href="/index.xml"><img src="/rss.svg" style="max-height:2em" alt="RSS Feed" title="Subscribe via RSS for updates."></a>
  </div>
 {{ end }}
</footer>
{{ end }}
</body>
</html>
