<!DOCTYPE html>
<html style="background-color:#161616" lang="{{ .Site.Language }}">
<head>
 <title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
 <link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
 {{ $style := resources.Get "/style.css" | minify | fingerprint "md5" }}
 <link rel="stylesheet" href="{{ $style.Permalink }}">
 {{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
 {{ end -}}
 <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
 {{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
 {{ end -}}
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="robots" content="index, follow">
 <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
 <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#7d8618">
 <meta name="msapplication-TileColor" content="#7d8618">
 <meta name="theme-color" content="#7d8618">


 <meta charset="utf-8">
</head>
<body>
{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
<header>
 <h1 id="tag_{{ .Title }}">{{ block "title" . }}{{ end }}</h1>
</header>
<br>
{{ $cat_script := resources.Get "/cat.js" | minify }}
<script src="{{ $cat_script.Permalink }}">
{{"// @license magnet:?xt=urn:btih:5305d91886084f776adcf57509a648432709a7c7&dn=x11.txt X11 License" | safeHTML }}
{{"// @license-end" | safeHTML }}
</script>
<main>
<article>
{{ block "main" . }}
{{ .Content }}
{{ end }}
</article>
</main>
{{ if .Param "nextprev" }}{{ partial "nextprev.html" . -}}{{ end -}}
<footer>
{{ if .Param "taglist" }}{{ partial "taglist.html" . }}{{ end -}}
{{ block "footer" . }}
 {{- if .Param "showrss" }}
 <br>
 <a href="/index.xml"><img src="/rss.svg" style="max-height:2em" alt="RSS Feed" title="Subscribe via RSS for updates.">
 </a>
 {{ end }}
{{ end }}
</footer>
</body>
</html>
