@import "normalize.css";
html {
 background-color: #282828;
 color: #ebdbb2;
 font-size: 1.9vw;
 font-size: calc(15px + 0.390625vw);
}

a {
 color: #83a598;
}

a:visited {
 color: #d3869b;
}

.blog {
 text-align: left;
 padding-right: 15vw;
 padding-left: 15vw;
}

h1, h2, h3, h4, h5, h6
{
    color: #b8bb26;
}

p,
h1,
h2 {
 padding-right: 15vw;
 padding-left: 15vw;
}

@media screen and (max-width: 768px) {

 p,
 h1,
 h2 {
  padding-right: calc(8px + 1.5625vw);
  padding-left: calc(8px + 1.5625vw);
 }

 .blog {
 text-align: left;
 padding-right: 15vw;
 padding-left: 15vw;
}
}

p {
 padding-bottom: calc(2vw);
}

h1,
p {
 margin: 0px;
}

h2,
p {
 margin: 0px;
}

.notes {
 text-align: right;
}

.quote {
 padding-top: 3.7vw;
 padding-bottom: 1.5vw;
 padding-right: calc(8px + 1.5625vw);
 padding-left: calc(8px + 1.5625vw);
 text-align: center;
 font-style: italic;
}

.text-center {
 text-align: center;
}

.display-inline {
 display: inline-block;
 padding-left: 1.5625vw;
 padding-right: 1.5625vw;
}

/* For TAGLIST.HTML */
.taglist {
 text-align: center;
 clear: both;
}

 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#title {
padding-bottom:1.5625vw;
padding-top:1.5625vw;
}

/* For NEXTPREV.HTML */
#prevart {
 float: left;
 text-align: left;
 padding-left:1.5625vw;
}

#nextart {
 float: right;
 text-align: right;
 padding-right:1.5625vw;
}

#nextart,
#prevart {
 max-width: 100%;
}
