@import "normalize.css";
html {
 background-color: #282828;
 color: #ebdbb2;
}

a {
 color: #83a598;
}

a:visited {
 color: #d3869b;
}

h1, h2, h3, h4, h5, h6
{
    color: #b8bb26;
}

article {
    padding-inline: 4vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 60ch;
}

p {
 padding-bottom: calc(2vw);
}

h1,
h2,
p {
 margin: 0px;
}

.quote {
 padding-top: 3vw;
 padding-bottom: 1.5vw;
 text-align: center;
 font-style: italic;
}

.text-center {
 text-align: center;
}

/* For TAGLIST.HTML */
.taglist {
 text-align: center;
 clear: both;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#title {
padding-bottom:1.5625vw;
padding-top:1.5625vw;
}

/* For NEXTPREV.HTML */
#prevart {
 float: left;
 text-align: left;
 padding-left:1.5625vw;
}

#nextart {
 float: right;
 text-align: right;
 padding-right:1.5625vw;
}

#nextart,
#prevart {
 max-width: 100%;
}
