{{ define "main" -}}
<header>
  <p class="quote">
   <em>
    “It's been established that time is not a rigid construct”
   </em>
  </p>
</header>
  <article>
  <h1 style="text-align:left">
   Saygo
  </h1>
  <p>
  I'm a Polish artist, I enjoy software and Linux. Computers are an inspiration for my artworks as well as my medium of choice.
  </p>
  <h2 style="text-align:left">
   Art
  </h2>
  <p>
   We cherish traditional techniques and their peculiarities, such as the granulation of watercolor, the brushstrokes of paint, and the texture of paper, but this does not extend to digital art. This medium too has peculiarities; however, they are shunned as tacky and undesirable. This is sad, so I embrace the digital process and its artifacts in my artworks, since they deserve at least equal admiration.
   See my works <a href="/desktop.webp">here.</a>
  </p>
  <h2 style="text-align:left">
   Software
  </h2>
  <p>
   I use Debian stable and create artwork using Krita, Inkscape, Blender and Processing. Click <a href="https://www.artstation.com/saygo" target="_blank">here</a> to see my desktop, dotfiles are available on my <a href="https://github.com/saygo-png" target="_blank">github</a> profile.
  </p>
   <img class="center blink" src="/kathy_jarboe.gif" alt="kathy_jarboe.gif">
   <p class="notes"> Contact: <br>
    <b>Matrix</b>: <b> @saygo.2:tchncs.de</b>
    <br>E-Mail: saygo.mail@proton.me <br>Discord: saygo.temp <br>
    <br>Inactive backups: <br>XMPP: saygo@nixnet.services <br>Matrix: @saygo:hackliberty.org <br>
    <br>Links: <br>Arstation: <a href="https://www.artstation.com/saygo" target="_blank">https://www.artstation.com/saygo</a>
    <br>YouTube: <a href="https://www.youtube.com/@saygo-png " target="_blank">https://www.youtube.com/@saygo-png </a>
    <br>Github: <a href="https://github.com/saygo-png" target="_blank">https://github.com/saygo-png</a>
    <br>Game i worked on: <a href="https://aejjee.itch.io/samnslime" target="_blank">https://aejjee.itch.io/samnslime</a>
   </p>
  <h1 style="text-align:center">
   Blog
  </h1>
<div class="text-center">
 <div class="display-inline">
<ul style="text-align:left">
{{- range.Pages }}
<li style="text-align:left">
 {{- if .Param "datesinlist" }}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006 Jan 02" }}</time> &ndash; {{ end -}}
 <a href="{{ .RelPermalink }}">{{ .Title }}</a>
 {{- if .Param "authorsinlist" }}
 {{ with .Params.authors }}
  by
  {{ delimit . ", " " and " }}
  </div>
 </div>
 {{end}}
 {{ end -}}
</li>
{{- end }}
</ul>
</article>
{{- end }}
